<!doctype html>
<html>
    <head>
        <script src=static/resttest.js defer></script>
    </head>
    <body>
        <div>
            <h2>GET</h2>
            <input id=getid value=42>
            <button id=getbutton>GET</button>
            <textarea id=getoutput></textarea>
        </div> 
        <div>
            <h2>DELETE</h2>
            <input id=deleteid value=42>
            <button id=deletebutton>DELETE</button>
        </div>    
        <div>
            <h2>POST</h2>
            <label>id: <input id=postid value=42></label><br>
            <label>name: <input id=postname value='Cuba'></label><br>
            <label>continent: <input id=postcontinent value=Caribbean></label><br>
            <label>capital: <input id=postcapital value=Havana></label><br>
            <button id=postbutton>POST</button>
        </div>    
    </body>
</html>